{{template "base" .}}
{{define "title"}}Login{{end}}

{{define "main"}}
<form action='/user/login' method='POST' novalidate>
  <div>
    {{with .Form.Errors.Get "generic"}}
      <div class='error'>{{.}}</div>
    {{end}}

    <label>Email:</label>
    {{with .Form.Errors.Get "email"}}
    <label for="error" class='error'>{{.}}</label>
    {{end}}
    <input type="text" name="email"  value='{{.Form.Get "email"}}'>
  </div>

  <div>
    <label>Password:</label>
    {{with .Form.Errors.Get "password"}}
    <label for="error" class='error'>{{.}}</label>
    {{end}}
    <input type="password" name="password"  value='{{.Form.Get "password"}}'>
  </div>

  <div>
    <input type="submit" value="Login">
  </div>
</form>
{{end}}
