{{template "base" .}}
{{define "title"}}Signup{{end}}

{{define "main"}}
<form action='/user/signup' method='POST' novalidate>
  <div>
    <label>Name:</label>
    {{with .Form.Errors.Get "name"}}
    <label for="error" class='error'>{{.}}</label>
    {{end}}
    <input type="text" name="name"  value='{{.Form.Get "name"}}'>
  </div>

  <div>
    <label>Email:</label>
    {{with .Form.Errors.Get "email"}}
    <label for="error" class='error'>{{.}}</label>
    {{end}}
    <input type="text" name="email"  value='{{.Form.Get "email"}}'>
  </div>

  <div>
    <label>Password:</label>
    {{with .Form.Errors.Get "password"}}
    <label for="error" class='error'>{{.}}</label>
    {{end}}
    <input type="password" name="password"  value='{{.Form.Get "password"}}'>
  </div>

  <div>
    <input type="submit" value="Signup">
  </div>
</form>
{{end}}
